.discord-advantage-1 {
  max-height: 600px;
}

.discord-advantage-1__description {
  max-width: 280px;
}

.discord-advantage-1__header,
.discord-advantage-1__text {
  grid-column: 2 / 3;
}

.discord-advantage-1__header {
  grid-row: 1 / 2;
}

.discord-advantage-1__text {
  grid-row: 2 / 3;
  line-height: 1.625;
}

.discord-advantage-1__img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
